body
{
    background: linear-gradient(100deg, #3f3f73, 75%, #5a5c90);
}
P, h2, li
{
    color:  #ffffff;
    font-family: 'Genos', 'Times New Roman', Times, serif;
    font-size: 24px;
}

h1
{
    align-content: center; 
    text-align: center;
    text-shadow: 2px 2px 5px #ffffff;
    font-family: 'Genos', 'Times New Roman', Times, serif;
    font-size: 40px;
    color:  #ffffff;
}

h2
{
    background-color: #5a5c90;
    text-shadow: 1px 1px 5px #ffffff;
    text-indent: 2%;
    font-size: 28px;
}
#primaryTable
{
    border: 3px solid #ffffff;
    border-radius: 5px;
    border-style:outset;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    
}
#primaryTable thead
{
    background-color: #3f3f73;
    color: #ffffff;
    font-size: 24px;
}
#primaryTable tbody
{
    color : #3f3f73;
    vertical-align: text-top;
    background-color: #5a5c90;
    font-weight: 500;
}
button
{
    color : #f7e359;
    background-color:  #9a9db5;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    border: 3px solid   #5a5c90;
    border-radius: 7px;
    margin-left: 2%;
    margin-right: auto;
    line-height:normal;
}
a:link
{
    color: #ffffff;
}
a:visited
{
    color:#f7e359;
}

#contact-table
{
    padding-left: 5px;
    text-align: left;
    background-color: #5a5c90;
    color: #ffffff; 
    border: 2px solid  #ffffff; 
    border-radius: 7px;
    width: 30%;
    margin-left: 2%;
    margin-right: auto;
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    padding: 0px 10px 0px 0px;
}
.contactDataItem
{
    padding: 5px;
}
